nav {
  background-color: #1717178f;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.nav-width {
  height: 7.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1480px;
  margin: 0 auto;
}
.logo {
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
}
.logo-img {
  display: flex;
  color: #fff;
  align-items: center;
}
.logo-img span {
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.menu {
  width: 55px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8px;
  color: #cbcaca;
  font-size: 22px;
  cursor: pointer;
}
